.admin-orders {
    &-title {
        margin-bottom: 20px;
    }
    &-table {
        width: 600px;
        margin: 0 auto;
        &_wraper {
            font-size: 1.4rem !important;
        }
    }
    &-item {
        .status-type {
            color: $white-color;
            border-radius: 4px;
            display: inline-block;
            width: 70px;
            text-align: center;
            user-select: none;
            padding: 4px;
            font-size: 1.2rem;
            &-1 {
                background-color: $warning-color;
            }
            &-2 {
                background-color: $wait-confirm-color;
            }
            &-3 {
                background-color: $confirm-color;
            }
            &-4 {
                background-color: $delivering-color;
            }
            &-5 {
                background-color: $delivered-color;
            }
        }
        &--actions {
            display: flex;
            justify-content: center;
            align-items: center;
            .admin-orders-actions-confirm {
                margin-right: 5px;
            }
        }
    }
}

.dataTables_wrapper {
    font-size: 1.4rem;
}

.dataTables_scroll {
    display: block;
    padding-top: 10px;
}

table.dataTable tbody td {
    padding: 8px;
    padding-left: 17px;
}