.dashboard {
    padding: 10px;
    &__title {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    &__review {
        font-size: 1.4rem;
        &-item {
            padding: 14px;
            border-radius: 10px;
            border-left: 4px solid var(--review-item-color);
            &__title {
                font-weight: bold;
                margin-bottom: 10px;
                font-size: 1.6rem;
            }
            &__value {
                font-size: 1.6rem;
                color: $hover-dark-color;
            }
            &__icon {
                opacity: 0.8;
                font-size: 2.4rem;
            }
        }
    }
}