.add-product {
    padding: 10px;
    display: block;
    .row>* {
        width: auto;
    }
    &-title {
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    &-body {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: aliceblue;
        display: block;
        width: 100%;
        margin: 0 auto;
        font-size: 1.4rem;
        position: relative;
        .form-group {
            margin-bottom: 20px;
            position: relative;
            &--category_product {
                .add-category-btn {
                    position: absolute;
                    left: 106%;
                    top: 45%;
                    font-size: 2.2rem;
                    font-weight: bold;
                    color: green;
                    cursor: pointer;
                }
            }
            .form-message {
                color: $warning-color;
            }
            label {
                font-weight: bold;
                margin-bottom: 6px;
            }
            input {
                padding: 6px 10px;
                font-size: 1.4rem;
                width: 200px;
                &[name="name_product"] {
                    width: 515px;
                    @include mobile {
                        width: 100%;
                    }
                }
                &[name="images_product"] {
                    width: 400px;
                    padding: 6px 0;
                }
            }
            select {
                font-size: 1.4rem;
                padding: 6px 10px;
                border-radius: 4px;
                border-color: $border-footer-color;
            }
            #cke_1_contents {
                height: 400px!important;
            }
        }
        &-button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}