@import 'reset';
@import 'animation';
@import 'variables';
@import 'header';
@import 'footer';
@import 'home';
@import 'product';
@import 'cart';
@import 'payment';
@import 'category_detail';
@import 'welcome';
@import '404_error';
@import './admin/admin_header';
@import './admin/admin_main';
@import './admin/_admin_dashboard';
@import './admin/_admin_product';
@import './admin/_admin_add_product';
@import 'main';

.button {
    border: none;
    outline: none!important;
    position: relative;
    color: $text-color;
    &--primary {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        font-size: 1.5rem;
        text-align: center;
        background-color: $hover-color;
        color: $white-color;
    }
    ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--transparent {
        width: 31px;
        height: 31px;
        font-size: 2.2rem;
        text-align: center;
        color: $black-color;
        background-color: transparent;
    }
    &--square-trans {
        border: 1px solid $border-color;
        text-transform: uppercase;
        margin: 1px 4px;
        color: $text-color;
        &:hover {
            background-color: $hover-color;
            cursor: pointer;
            border-color: $red-color;
        }
    }
    &--type1 {
        user-select: none;
        padding: 8px 26px;
        color: $hover-dark-color;
        border-color: $hover-color;
        background-color: $white-color;
        outline: none;
        border-radius: 4px;
        font-size: 1.4rem;
        text-transform: uppercase;
        &:hover {
            background-color: $hover-color;
            color: $white-color;
        }
        @include mobile-sm {
            padding: 5px;
        }
    }
    &--type2 {
        user-select: none;
        padding: 8px 26px;
        color: $white-color;
        border-color: $hover-color;
        background-color: $hover-color;
        outline: none;
        border-radius: 4px;
        font-size: 1.4rem;
        text-transform: uppercase;
        &:hover {
            opacity: 0.8;
        }
        @include mobile-sm {
            padding: 5px;
        }
    }
    &:focus {
        outline: none!important;
    }
}
// Hide arrows from input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    -webkit-appearance: appearance;
    /*webkit browsers */
    -moz-appearance: appearance;
    /*Firefox */
    appearance: appearance;
    /* modern browsers */
    border-radius: 0;
  
  }

.wrapper {
    height: 100vh;
}

.item-annouce {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    span, a {
        font-size: 1.4rem;
    }
}

.js-image-zoom__zoomed-image {
    z-index: 99;
}

/* Modal css */
.my-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}

.my-modal.active {
    display: flex;
}

.modal__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal__body {
    background-color: var(--primary-bg);
    margin: 10% auto auto auto;
    border-radius: 8px;
    z-index: 2;
}

.modal__item {
    display: none;
}

.modal__item.active {
    display: block;
}

/* Override css bootstrap modal */ 
.modal-content {
    font-size: 1.4rem;
    .modal-title {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .modal-footer {
        button {
            font-size: 1.4rem;
        }
    }
}

/* Toast custom css */
.my-toast {
    z-index: 999;
    min-width: 400px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.my-toast + .my-toast {
    margin-top: 24px;
}

.my-toast__icon {
    font-size: 24px;
}

.my-toast__close,
.my-toast__icon {
    padding: 0 16px;
}

.my-toast__body {
    flex-grow: 1;
}

.my-toast__title {
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.my-toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}

.my-toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
}

.my-toast__close:hover {
    opacity: 0.8;
    cursor: pointer;
}

.my-toast--success{
    border-color: #47d764;
}

.my-toast--success .my-toast__icon {
    color: #47d764;
}

.my-toast--info{
    border-color: #2f86eb;
}

.my-toast--info .my-toast__icon {
    color: #2f86eb;
}

.my-toast--warning{
    border-color: #ffc021;
}

.my-toast--warning .my-toast__icon {
    color: #ffc021;
    
}

.my-toast--error{
    border-color: #ff5555;
}

.my-toast--error .my-toast__icon {
    color: #ff5555;
    
}

#my-toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 99;
}

.show-my-toast {
    padding: 24px 0 32px;
    margin: auto;
    width: 500px;
    display: flex;
    justify-content: center;
}