@import 'reset';
@import 'animation';
@import 'variables';
@import 'header';
@import 'footer';
@import 'home';
@import 'product';

.button {
    border: none;
    outline: none!important;
    position: relative;
    color: $text-color;
    &--primary {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        font-size: 1.5rem;
        text-align: center;
        background-color: $hover-color;
        color: $white-color;
    }
    ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &--transparent {
        width: 31px;
        height: 31px;
        font-size: 2.2rem;
        text-align: center;
        color: $black-color;
        background-color: transparent;
    }
    &--square-trans {
        border: 1px solid $border-color;
        text-transform: uppercase;
        margin: 1px 4px;
        color: $text-color;
        &:hover {
            background-color: $hover-color;
            cursor: pointer;
            border-color: $red-color;
        }
    }
    &--type1 {
        padding: 8px 26px;
        color: $hover-dark-color;
        border-color: $hover-color;
        background-color: $white-color;
        outline: none;
        border-radius: 4px;
        font-size: 1.4rem;
        text-transform: uppercase;
        &:hover {
            background-color: $hover-color;
            color: $white-color;
        }
    }
    &--type2 {
        padding: 8px 26px;
        color: $white-color;
        border-color: $hover-color;
        background-color: $hover-color;
        outline: none;
        border-radius: 4px;
        font-size: 1.4rem;
        text-transform: uppercase;
        &:hover {
            opacity: 0.8;
        }
    }
    &:focus {
        outline: none!important;
    }
}
// Hide arrows from input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.wrapper {
    background-color: rgba(0,0,0,0.05);
}

.item-annouce {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
    span, a {
        font-size: 1.4rem;
    }
}