<section class="dashboard">
    <h1 class="dashboard__title" >Thống Kê Chung</h1>

    <div class="dashboard__review">
        <div class="row gx-5">
            <!-- Doanh Thu (Tháng) -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div style="--review-item-color: #4e73df" class="card border-left-primary shadow dashboard__review-item">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-primary text-uppercase dashboard__review-item__title">
                                    Doanh Thu</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 dashboard__review-item__value">{{reportCommon.INCOME}}</div>
                            </div>
                            <div class="col-auto dashboard__review-item__icon">
                                <i class="fa-solid fa-sack-dollar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Doanh Thu (Tháng) -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div style="--review-item-color: #1cc88a" class="card border-left-primary shadow dashboard__review-item">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-primary text-uppercase dashboard__review-item__title">
                                    Đơn Hàng</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 dashboard__review-item__value">{{reportCommon.TOTAL_ORDERS}}</div>
                            </div>
                            <div class="col-auto dashboard__review-item__icon">
                                <i class="fa-solid fa-clipboard-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Doanh Thu (Tháng) -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div style="--review-item-color: #36b9cc" class="card border-left-primary shadow dashboard__review-item">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-primary text-uppercase dashboard__review-item__title">
                                    Sản Phẩm</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 dashboard__review-item__value">{{reportCommon.TOTAL_PRODUCTS}}</div>
                            </div>
                            <div class="col-auto dashboard__review-item__icon">
                                <i class="fa-brands fa-product-hunt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Doanh Thu (Tháng) -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div style="--review-item-color: #f6c23e" class="card border-left-primary shadow dashboard__review-item">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs text-primary text-uppercase dashboard__review-item__title">
                                    Chờ Duyệt</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800 dashboard__review-item__value">{{reportCommon.WAIT_CONFIRM}}</div>
                            </div>
                            <div class="col-auto dashboard__review-item__icon">
                                <i class="fa-solid fa-file-invoice-dollar"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
