<section class="product-detail">
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Văn phòng phẩm</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Sách</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Sách tham khảo</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="body-wrap">
        <div class="container">
            <div class="product mt-4">
                <div class="row">
                    <div class="product_gallery col-lg-5">
                        <div class="product_gallery-imgBox-wrap" >
                            <div class="product_gallery-imgBox">
                                <img src="/img/products/but-mau.jpg" alt="">
                            </div>
                        </div>
                        <div class="owl-carousel product_gallery-imgslide">
                            <div class="product_gallery-imgitem active">
                                <img src="/img/products/product_1.jpg" alt="">
                            </div>
                            <div class="product_gallery-imgitem">
                                <img src="/img/products/compa.jpg" alt="">
                            </div>
                            <div class="product_gallery-imgitem">
                                <img src="/img/products/but-mau.jpg" alt="">
                            </div>
                        </div>
                        <div class="product_gallery-phone">
                            <h3 class="title" >Để lại SĐT mua hàng công ty giá tốt</h3>
                            <form class="form-phone" action="#">
                                <input type="number" name="phone" id="phone" placeholder="Để lại số điện thoại">
                                <button type="submit">GỬI</button>
                            </form>
                        </div>
                        <div class="product_gallery-contact">
                            <div class="product_gallery-contact__item order-phone">
                                <img src="/img/icon/phone.png" alt="">
                                <span>Hotline đặt hàng:</span>&nbsp;&nbsp;
                                <a href="tel:0901 234 567">0901 234 567</a>
                            </div>
                            <div class="product_gallery-contact__item gmail">
                                <img src="/img/icon/gmail.png" alt="">
                                <span>Email:</span>&nbsp;&nbsp;
                                <a href="mailto:support@hungthanh-bookstore.com">support@hungthanh-bookstore.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="product_body col-lg-7">
                        <h1 class="product_body-title"> Bìa đựng tài liệu cứng</h1>
                        <div class="product_body-pricebox">
                            <span class="product_body-price">61.400 đ</span>
                            <span class="product_body-old-price">66.100 đ</span>
                            <span class="product_body-sale">-7%</span>
                        </div>
                        <form action="">
                           <div class="product_body-quantily">
                                <span class="label" >Số lượng: </span>
                                <button class="product_body-quantily-btnminus" >
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                                <input type="number" name="" id="" placeholder="1">
                                <button class="product_body-quantily-btnplus" >
                                    <ion-icon name="add"></ion-icon>
                                </button>
                            </div>
                            
                            <div class="product_body-action">
                                <button class="button--type1 product_body-action-buy" >Mua ngay</button>
                                <button class="button--type2 product_body-action-whistlist" >Thêm vào giỏ hàng</button>
                                <div class="like-btn">
                                    <ion-icon name="heart-outline"></ion-icon>
                                    <span>Yêu thích</span>
                                </div>
                            </div>
                        </form>
                        <div class="product-slidebar">
                            <div class="list-policy">
                                <ul>
                                    <li class="item-annouce" >
                                         <img src="/img/icon/loudspeaker.png" alt="">
                                        <span><strong>Nhận báo giá rẻ hơn </strong><a href="#">Tại đây</a></span>
                                    </li>
                                    <li class="item-annouce" >
                                         <img src="/img/icon/free-delivery.png" alt="">
                                        <span><strong>MIỄN PHÍ</strong> vận chuyển nội ô <strong>Cái Răng - Ninh Kiều</strong></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-policy">
                                <div class="card-policy__item">
                                    <div class="title"><strong>Chính sách chiết khấu</strong></div>
                                    <ul>
                                        <li class="item-annouce">
                                            <img src="/img/icon/sale-tag.png" alt="">
                                            <span>Giảm <strong>5%</strong> và quà tặng khi mua từ <strong>1 triệu</strong></span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/sale-tag.png" alt="">
                                            <span>Giảm <strong>7%</strong> và quà tặng khi mua từ <strong>3 triệu</strong></span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/sale-tag.png" alt="">
                                            <span>Giảm <strong>10%</strong> và quà tặng khi mua từ <strong>5 triệu</strong></span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/sale-tag.png" alt="">
                                            <span>Giảm <strong>15%</strong> và quà tặng khi mua từ <strong>6 triệu</strong></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="line"></div>
                                <div class="card-policy__item">
                                    <div class="title"><strong>Lợi ích khi mua hàng</strong></div>
                                    <ul>
                                        <li class="item-annouce">
                                            <img src="/img/icon/check.png" alt="">
                                            <span><strong>Quà tặng hấp dẫn</strong> thay đổi theo từng tháng</span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/check.png" alt="">
                                            <span><strong>Đổi trả dễ dàng</strong> theo yêu cầu</span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/check.png" alt="">
                                            <span>Ưu tiên khách hàng <strong>V.I.P</strong></strong></span>
                                        </li>
                                        <li class="item-annouce">
                                            <img src="/img/icon/check.png" alt="">
                                            <span>Giao hàng nhanh sau <strong>2h</strong></strong></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <div class="detail-comment-wrap">
        <div class="container detail-comment" >
            <div class="tab-list">
                <div class="tab-item active">
                    <i class="tab-item__icon fas fa-code"></i>
                    <span class="tab-item__label" >Thông tin chi tiết</span>
                </div>
                <div class="tab-item">
                    <i class="tab-item__icon fas fa-cog"></i>
                    <span class="tab-item__label" >Bình luận sản phẩm</span>
                </div>
                <div class="tab-line"></div>
            </div>
            <div class="tab-pane">
                <div class="tab-pane-item active">
                    - Thương hiệu: DELI 

                    - Xuất xứ: Trung Quốc

                    - Loại đầu bút: 1 cây / 1 màu ( hộp 12 màu )

                    - Bảo quản: Nơi khô ráo, tránh lửa

                    Liên hệ với chúng tôi khi cần:

                    CÔNG TY TNHH TM DV FAST

                    Email: vanphongphamfast@gmail.com

                    Hotline: 0964 399 099

                    FAST chuyên cung cấp Văn Phòng Phẩm, thiết bị văn phòng, đồ gia dụng sỉ và lẻ giá tốt nhất tại Hồ Chí Minh, giao hàng nhanh tại các quận huyện trong thành phố Hồ Chí Minh: Quận 1, Quận 2, Quận 3, Quận 4, Quận 5, Quận 6, Quận 7, Quận 8, Quận 9, Quận 10, Quận 11, Quận 12 , Quận Tận Phú, Quận Tân Bình, Quận Bình Thạnh, Quận Phú Nhuận, Quận Gò Vấp , TP Thủ Đức, Quận Bình Tân, Nhà Bè, Hóc Môn, Bình Chánh…và các tỉnh khác trên toàn Quốc
                </div>
                <div class="tab-pane-item">
                    <h3 class="tab-pane__title" >Angular</h3>
                    <p class="tab-pane__description" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt optio quibusdam sint minus obcaecati ullam officiis incidunt similique eos amet tempora, a, mollitia quasi numquam aliquam alias? Dolorum alias, porro minima, ad magni nisi.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="delivery-banner">
        <div class="banner container">
            <img src="/img/banner/delivery-banner.svg" alt="">
        </div>
    </div>
    
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function() {
            $(".owl-carousel.product_gallery-imgslide").owlCarousel({
                margin:10,
                responsiveClass:true,
                dots: false,
                responsive:{
                    0:{
                        items:2,
                        nav:true,
                    },
                    480:{
                        items:3,
                        nav:true,
                    },
                    800:{
                        items:4,
                        nav:true,
                    },
                    900:{
                        items:5,
                        nav:true,
                    },
                    1200:{
                        items:5,
                        nav:true,
                    }
                }
            });
        });

        var options1 = {
            width: 200,
            height: 200,
            zoomWidth: 300,
            offset: {vertical: 0, horizontal: 10}
        };

        var options2 = {
            width: 300,
            zoomWidth: 400,
            zoomStyle: {
                'z-index': 10,
            },
            offset: {vertical: 0, horizontal: 5}
        };

        new ImageZoom(document.querySelector(".product_gallery-imgBox"), options2);
    });
</script>
<script src="/js/product/show.js"></script>