<footer id="footer" class="footer">
    <section class="footer-partners mt-5" >
        <div class="container-md">
            <div class="owl-carousel footer-partners-slider">
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_1.jpg" alt="partner_1">
                    </a>
                </div>
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_2.jpg" alt="partner_2">
                    </a>
                </div>
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_3.jpg" alt="partner_3">
                    </a>
                </div>
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_4.jpg" alt="partner_4">
                    </a>
                </div>
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_5.jpg" alt="partner_5">
                    </a>
                </div>
                <div class="footer-partners-slider__item">
                    <a href="#">
                        <img src="/img/partners/partner_1.jpg" alt="partner_1">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom" id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="footer-bottom-left col-lg-4 col-md-4 col-sm-12">
                    <div class="footer-bottom-contact">
                        <div class="contact-socials">
                            <ul class="contact-socials-list">
                                <li class="contact-socials-item">
                                    <a href="https://www.facebook.com/">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                    </a>
                                </li>
                                <li class="contact-socials-item" >
                                    <a href="#">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </a>
                                </li>
                                <li class="contact-socials-item" >
                                    <a href="#">
                                        <ion-icon name="logo-instagram"></ion-icon>
                                    </a>
                                </li>
                                <li class="contact-socials-item" >
                                    <a href="#">
                                        <ion-icon name="logo-google"></ion-icon>
                                    </a>
                                </li>
                                <li class="contact-socials-item" >
                                    <a href="#">
                                        <ion-icon name="logo-tumblr"></ion-icon>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-body">
                            <img src="/img/logo.png" alt="logo">
                            <div class="contact-body-item">
                                <ion-icon name="home"></ion-icon>
                                Khu văn hoá Tây Đô, phường Hưng Thạnh, quận Cái Răng, Tp. Cần Thơ.
                            </div>
                            <div class="contact-body-item">
                                <ion-icon name="call"></ion-icon>
                                (420) 123 4567 89 - (420) 123 4567 80
                            </div>
                            <div class="contact-body-item">
                                <ion-icon name="mail"></ion-icon>
                                support@hungthanh-bookstore.com
                            </div>
                            <div class="message-button">
                                Liên hệ chúng tôi
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-copyright d-none d-md-block">
                        <span>Copyright © 2015 Stationery - All Right Reserved. Designed By
                            <a href="https://www.lapnghiepvn.cf/">lapnghiepvn.cf</a>
                        </span>
                    </div>
                </div>
                <div class="footer-bottom-right col-lg-8 col-md-8 col-sm-12">
                    <div class="footer-bottom-about">
                        <h2 class="footer-bottom-about__title" >Về chúng tôi</h2>
                        <div class="footer-bottom-about__body">
                            <a href="#"><img src="/img/store-about-us.jpg" alt="store"></a>
                            <span>Kinh doanh các mặt hàng phục vụ học sinh: Tập, sách, đồng phục học sinh, giày dép, nón, dây nịt, túi sách, bóp da, quà lưu niệm, đồ chơi trẻ em, chụp hình thẻ, photocopy.</span>
                        </div>
                    </div>
                    <div class="footer-bottom-info">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="footer-bottom-info-item">
                                    <h3>Danh mục</h3>
                                    <ul class="list" >
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Tập</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Sách</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Quần áo</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Chụp hình thẻ</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="footer-bottom-info-item">
                                    <h3>Thông tin</h3>
                                    <ul class="list" >
                                        <li class="item" >
                                            <a href="https://www.facebook.com/Hung-Thanh-bookstore-1553136321649750/?ref=page_internal">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Về chúng tôi</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Nhân viên</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Chăm sóc khách hàng</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Chính sách vận chuyển</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-xs-12">
                                <div class="footer-bottom-info-item">
                                    <h3>Dịch vụ</h3>
                                    <ul class="list" >
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Khách hàng nhận xét</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Giao hàng tận nơi</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Tư vấn trực tuyến</span>
                                            </a>
                                        </li>
                                        <li class="item" >
                                            <a href="#">
                                                <ion-icon name="caret-forward"></ion-icon>
                                                <span>Kiểm tra đơn hàng</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="footer-copyright d-sm-block d-md-none">
                <span>Copyright © 2015 Stationery - All Right Reserved. Designed By
                    <a href="https://www.lapnghiepvn.cf/">lapnghiepvn.cf</a>
                </span>
            </div>
        </div>
    </section>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        $(document).ready(function(){
            $(".owl-carousel.footer-partners-slider").owlCarousel({
                loop:true,
                margin:10,
                responsiveClass:true,
                dots: false,
                responsive:{
                    0:{
                        items:1,
                        nav:true
                    },
                    600:{
                        items:3,
                        nav:true
                    },
                    1000:{
                        items:5,
                        nav:true,
                        loop:true
                    }
                }
            });
        })
    })
    
</script>