<section class="cart">
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Giỏ hàng</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cart-body-wrap">
        <div class="container cart-body">
            <div class="title">
                <h2>Giỏ hàng</h2>
                <span>(4 sản phẩm)</span>
            </div>
            <div class="notification">
                <span>Hãy mua thêm 9.800 đ đơn hàng của bạn sẽ được áp dụng chiết khấu 5%</span>
            </div>
            <div class="block-section mt-4">
                <table class="cart-table">
                    <thead class="cart-table__head" >
                        <tr class="cart-table__row">
                            <th class=" cart-table__col cart-table__col--head cart-table__col--product">Sản phẩm</th>
                            <th class=" cart-table__col cart-table__col--head" >Đơn giá</th>
                            <th class=" cart-table__col cart-table__col--head" >Số lượng</th>
                            <th class=" cart-table__col cart-table__col--head" >Số tiền</th>
                            <th class=" cart-table__col cart-table__col--head" >Thao tác</th>
                        </tr>
                    </thead>

                    <tbody class="cart-table__body">
                        {{!-- <tr class="cart-table__row">
                            <td class="cart-table__col cart-table__col--product">
                                <div class="cart-product">
                                    <a href="#" class="cart-product__image">
                                        <img src="/img/products/compa.jpg" alt="">
                                    </a>
                                    <a class="cart-product__title" href="">
                                        <div>Compa chất lượng cao</div>
                                    </a>
                                </div>
                            </td>
                            <td class="cart-table__col cart-table__col--price">
                                <h3 class="label-mobile" >Giá: </h3>
                                <div>
                                    <span class="price">70.000 đ</span>
                                    <span class="old-price">80.000 đ</span>
                                </div>
                            </td>
                            <td class="cart-table__col cart-table__col--quantity">
                                <h3 class="label-mobile" >Số lượng: </h3>
                                <div class="product_body-quantily">
                                    <div class="product_body-quantily-btnminus quantity-btn" data-slug="">
                                        <ion-icon name="remove"></ion-icon>
                                    </div>
                                    <input type="number" name="" id="" value="1">
                                    <div class="product_body-quantily-btnplus quantity-btn" >
                                        <ion-icon name="add"></ion-icon>
                                    </div>
                                </div>
                            </td>
                            <td class="cart-table__col cart-table__col--total">
                                <h3 class="label-mobile" >Số tiền: </h3>
                                <span class="price">70.000 đ</span>
                            </td>
                            <td class="cart-table__col cart-table__col--action">
                                <h3 class="label-mobile" >Hàng động: </h3>
                                <a href="#">Xoá</a>
                            </td>
                        </tr> --}}
                    </tbody>
                </table>
                <div class="container list-policy-wrap">
                    <div class="list-policy">
                        <ul>
                            <li class="item-annouce" >
                                    <img src="/img/icon/free-delivery.png" alt="">
                                <span><strong>MIỄN PHÍ</strong> vận chuyển nội ô <strong>Cái Răng - Ninh Kiều</strong></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container card section-summary mt-4">
                    <div class="row justify-content-end">
                        <div class="card-summary col-xl-4 col-lg-5 col-md-7 col-sm-12">
                            <div class="card-info">
                                <span>Tổng tiền (2 sản phẩm): </span>
                                <span id="card-summary-old-price" class="price" >644.000</span> 
                            </div>
                            <div class="card-info">
                                <span>Chiết khấu (0%): </span>
                                <span class="price" >0 đ</span>
                            </div>
                            <div class="card-info">
                                <span><strong>Thành tiền: </strong></span>
                                <span id="card-summary-total-price" class="price">644.000</span> 
                            </div>
                            <button class="button--type2">Tiến hành đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="module" src="/js/cart.js"></script>