<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
    <title>Hưng Thạnh Bookstore</title>
</head>
<body onload="">
    <div class="wrapper">

        <div id="my-toast">
          
        </div>

        {{> header}}

        <div class="account-wrap">
            <div class="breadcrumb-wrap">
                <div class="container">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Tài khoản</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="account-body-wrap">
                <div class="container">
                    <div class="row account-body">
                        <div class="navigation col-lg-3 col-md-3 d-none d-lg-block">
                            <div class="user-infor">
                                <div class="user-infor__imgBox">
                                    <img src="{{#if data_contact.PHOTO includeZero=true}}{{data_contact.PHOTO}}{{else}}/img/icon/anonymous-avatar.svg{{/if}}" alt="avatar">
                                </div>
                                <div class="user-infor__name">
                                    <span>{{data_contact.NAME}}</span>
                                </div>
                            </div>
                            <ul class="nav-list">
                                <li class="nav-item {{#if account includeZero=true}} active {{/if}}">
                                    <a href="/user/account"class="nav-item__btn fs-2-2" id="nav-item-dashboard-btn">
                                        <div class="nav-item__btn-imgBox">
                                            <img src="/img/icon/account-icon.svg" alt="">
                                        </div>
                                        <span>Tài khoản của tôi</span>
                                    </a>
                                </li>
                                <li class="nav-item {{#if address includeZero=true}} active {{/if}}">
                                    <a href="/user/address"class="nav-item__btn fs-2-2" id="nav-item-dashboard-btn">
                                        <div class="nav-item__btn-imgBox">
                                            <img src="/img/icon/address-icon.svg" alt="">
                                        </div>
                                        <span>Quản lý địa chỉ</span>
                                    </a>
                                </li>
                                <li class="nav-item {{#if order includeZero=true}} active {{/if}}">
                                    <a href="/manage-order"class="nav-item__btn fs-2-2" id="nav-item-dashboard-btn">
                                        <div class="nav-item__btn-imgBox">
                                            <img src="/img/icon/order-icon.svg" alt="">
                                        </div>
                                        <span>Đơn hàng</span>
                                    </a>
                                </li>
                                <li class="nav-item {{#if wishlist includeZero=true}} active {{/if}}">
                                    <a href="/wishlist"class="nav-item__btn fs-2-2" id="nav-item-dashboard-btn">
                                        <div class="nav-item__btn-imgBox">
                                            <img src="/img/icon/wishlist-icon.svg" alt="">
                                        </div>
                                        <span>Sản phẩm yêu thích</span>
                                    </a>
                                </li>
                                <li class="nav-item {{#if dashboard includeZero=true}} active {{/if}}">
                                    <a href="#"class="nav-item__btn fs-2-2" onclick="return false" id="nav-item-dashboard-btn">
                                        <div class="nav-item__btn-imgBox">
                                            <img src="/img/icon/anouncement-icon.svg" alt="">
                                        </div>
                                        <span>Thông báo</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="body col-lg-9 col-md-9 col-sm-12">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> footer}}

        <div class="my-modal">
            <div class="modal__overlay"></div>
            <div class="modal__body">
              <div id="modal-add-address" class="modal__item address-body-modal">
                <div class="modal__theme-exit">
                    <ion-icon name="close"></ion-icon>
                </div>
                <h2 class="title" >Thêm địa chỉ mới</h2>
                <form id="add-address-body-form" action="/user/add-address" method="POST">
                  <div class="form-group">
                      <input class="form-control" type="text" name="name" id="name_add_address" placeholder="Họ tên">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="phone" id="phone_add_address" placeholder="Số điện thoại">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="address" id="address_add_address" placeholder="Địa chỉ">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <select name="city" class="form-control form-select" id="city" aria-label="Default select example">
                          <option value="" selected >Chọn Tỉnh/Thành phố</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group ">
                      <select name="district" class="form-control form-select" id="district" aria-label="Default select example">
                          <option value="" selected >Chọn Quận/Huyện</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <select name="ward" class="form-control form-select" id="ward" aria-label="Default select example">
                          <option value="" selected >Chọn Phường/Xã</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group checkbox">
                      <input type="checkbox" id="default_add_address" name="default" value="true">
                      <label for="default_add_address">Đặt làm mặc định</label>
                  </div>
                  <div class="address-button-wrap">
                    <button id="back-address-button" onclick="return false" class="modal__theme-exit-button back-address-body-button button button--type1">Quay lại</button>
                    <button id="add-address-button" class="add-address-body-button button button--type2">Thêm</button>
                  </div>
                </form>
              </div>

              <div id="modal-modify-address" class="modal__item address-body-modal">
                <div class="modal__theme-exit">
                    <ion-icon name="close"></ion-icon>
                </div>
                <h2 class="title" >Cập nhật địa chỉ</h2>
                <form id="modify-address-body-form" action="/user/modify-address" method="POST">
                  <div class="form-group">
                      <input class="form-control" type="text" name="name" id="name_modify_address" placeholder="Họ tên">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="phone" id="phone_modify_address" placeholder="Số điện thoại">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <input class="form-control" type="text" name="address" id="address_modify_address" placeholder="Địa chỉ">
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <select name="city" class="form-control form-select" id="city_modify" aria-label="Default select example">
                          <option value="" selected >Chọn Tỉnh/Thành phố</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group ">
                      <select name="district" class="form-control form-select" id="district_modify" aria-label="Default select example">
                          <option value="" selected >Chọn Quận/Huyện</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group">
                      <select name="ward" class="form-control form-select" id="ward_modify" aria-label="Default select example">
                          <option value="" selected >Chọn Phường/Xã</option>
                      </select>
                      <span class="form-message"></span>
                  </div>
                  <div class="form-group checkbox">
                      <input type="checkbox" id="default_modify_address" name="default" value="true">
                      <label for="default_modify_address">Đặt làm mặc định</label>
                  </div>
                  <div class="address-button-wrap">
                    <button id="back-address-button" onclick="return false" class="modal__theme-exit-button back-address-body-button button button--type1">Quay lại</button>
                    <button id="modify-address-button" type="submit" form="modify-address-body-form" class="modify-address-body-button button button--type2">Cập Nhật</button>
                  </div>
                </form>
              </div>

              <div id="modal-successful" class="modal__item"> 
                <div class="modal__theme-exit">
                  <ion-icon name="close"></ion-icon>
                </div>
                <div class="successful-body">
                    <div class="successful-body__imgBox">
                      <img src="/img/icon/success_icon.webp" alt="">
                    </div>
                    <div class="successful-body__title">
                      <h2>Đặt hàng thành công!</h2>
                    </div>
                    <div class="successful-body__message">
                      <p>Cám ơn bạn đã tin tưởng đặt hàng của chúng tôi!</p>
                    </div>
                    <div class="successful-body__button">
                      <button class="button button--type2" >Đóng</button>
                    </div>
                </div>
              </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal-account-layout">
            <div class="modal" id="modal-update-success" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông báo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Cập nhật địa chỉ thành công.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="modal" id="modal-add-success" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Thông báo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Thêm địa chỉ mới thành công.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="modal-delete-confirm" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xoá địa chỉ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có chắc xoá địa chỉ này không?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                        <button type="button" class="btn btn-danger" id="address-delete-btn">Xoá bỏ</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="/js/jwt-decode.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/toast.js"></script>
    <script type="module" src="/js/main.js"></script>
    <script type="module" src="/js/account-main.js"></script>
</body>
</html>