<section>
    <div class="container mt-4" style="text-align: center;">
        <div style="position: relative; width: 100%; height: 350px;" class="imgBox">
            <img style="position: absolute; top: 0; left: 50%; transform: translateX(-50%);" src="/img/new-members.png" alt="">
        </div>
         <h1>Chúc mừng bạn đã đăng ký tài khoản thành công</h1>
        <h4 class="" >Nhấn vào nút đăng nhập để đăng nhập</h4>
    </div>
</section>